[user]
	name = Krzysztof Taborski
	email = taborskikrzysztof@gmail.com
[push]
	default = current
[color]
    ui = auto
[merge]
    ff = only
[alias]
    ci = commit
    co = checkout
    st = status
    lg = log --graph --oneline
    amend = commit --amend --no-edit
    tree = log --graph --abbrev-commit --decorate --oneline
    files = show --pretty="" --name-only
    pull-all = !git pull && git submodule sync --recursive && git submodule update --init --recursive
    pull-push = !git pull && git push
    sm-update = !git submodule sync --recursive && git submodule update --init --recursive
    dev-rebase = !git co dev && git pull && git sm-update && git co - && git rebase dev
    master-rebase = !git co master && git pull && git co - && git rebase master
    main-rebase = !git co main && git pull && git co - && git rebase main
    pull-stash = !git stash && git pull && git stash apply
    push-for-review = push origin HEAD:refs/for/master
    draft = push origin HEAD:refs/drafts/master
    push-draft = push origin HEAD:refs/drafts/master
    force-amend = !git amend -a --no-edit && git push --force
    mdiff = difftool --dir-diff
[core]
    editor = code -nw
	excludesfile = ~/.gitignore_global
[diff]
    tool = meld
[pull]
	rebase = true
[credential]
	helper = store
